body{
    
    margin-top: 20%;
    font-family: Arial, sans-serif;
    font-size: 24px;
    
}
#countLabel{
    display: block;
    font-size: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buttonCountainer{
    text-align: center;
    margin-top: 20px;
}
.buttons{
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #7a7892;
    color: white;
    transition: background-color 0.3s;
}
.buttons:hover{
    background-color: #362e77;
}