body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1 {

    color: #333;
    text-align: center;
}
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
.choices {
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;

}

.choices button {
    /* display: inline-block; */
    padding: 10px 20px;
    margin: 10px;
    background-color: #470b0b4b;
    color: #fff;
    text-decoration: none;
    border-radius: 500px;
    transition: background-color 0.3s ease;
    font: 5rem sans-serif;
    cursor: pointer;
}
.choices button:hover {
    background-color: #3600b365;
}
#playerdisplay, #computerdiplay {
   font-size: 1.5rem;

}
#resultdisplay {
    font-size: 4rem;
    margin-top: 20px;
    color: #000000;
}
.scoredisplay {
    margin-top: 20px;
    font-size: 2rem;
}
.greentext, #playerscoredisplay, #computerscoredisplay {
    color: green;

}
.redtext, #computerscoredisplay {
    color: red;
}